.vs/
GH Injector GUI/x64/
GH Injector/Release/
Static/
Debug/
GH Injector GUI/GH Injector - x64.ini
GH Injector GUI/GH Injector.zip
Release/
GH Injector GUI/GH Injector - x86.ini
GH Injector GUI/Settings.ini
