.vs/
Static/
Debug/
Release/
GH Injector/Release/
GH Injector GUI/x64/
GH Injector GUI/x86/
GH Injector GUI/Debug/
GH Injector GUI/Release/
GH Injector GUI/Static/
GH Injector GUI/GH Injector.zip
GH Injector GUI/Settings.ini
GH Injector GUI/GH_Inj_Log.txt
GH .NET Parser/obj/publish/
GH .NET Parser/bin/